@import "tailwindcss";

:root {
  font-family: "Nunito", sans-serif;
  background: #ffffff;
  color: #202020;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ffffff;
}

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

#root {
  min-height: 100vh;
}
