@import "tailwindcss";

:root {
  font-family: Inter, system-ui, sans-serif;
  background: #121110;
  color: #faf9f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #121110;
}

button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}

#root {
  min-height: 100vh;
}
@keyframes toastIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
